@font-face {
    font-family: "retro";
    src: url(font/RETROTECH.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'retro';
}
body{
    background: rgb(237, 214, 180);
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(163, 138, 108);
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'retro';
    font-weight: 600;
}
header .logo:hover{
    color: rgb(163, 138, 108);
    background: white;
    transition: 1s;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
    margin-left: 30px;
}
header .navbar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}
header .navbar li a:hover{
    border-bottom: 5px solid rgb(163, 138, 108);
    padding: 2px;
}
.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.contenido .tituloBox{
    position: relative;
   max-width: 600px;
    text-align: center;
}
.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: white;    
}
.contenido .tituloBox h2 span{
    background: rgb(163, 138, 108);
    color: white;
    padding: 0 10px;
    font-family: 'retro';
    font-weight: 600;
    border-radius: 20px;
}
.contenido .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: white;
    font-family: 'retro';
    font-weight: 300;
    margin-bottom: 20px;
}
.contenido .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(163, 138, 108);
    background: white;
    padding: 10px 20px;
    margin: left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}
.contenido .tituloBox a:hover{
    color: white;
    background: rgb(163, 138, 108);
    transition: 0.5s;
}
.contenido .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5;
}

.contenido .imgBox img {
    height: 80vh;
    display: block;
    object-fit: cover;
    margin-top: -2px; 
    outline: 2px solid rgb(237, 214, 180);
    outline-offset: -2px;
    border-radius: 5px;
}

.contenido .imgBox img:hover{
    height: 80vh;
}

.copyright {
    position: absolute;
    bottom: 20px;        
    left: 50%;           
    margin-bottom: 20px;
    transform: translateX(-50%); /*Truco para que el dentro del texto coincida con el centro de la pantalla*/
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Para que siempre esté por encima del círculo */
}

.copyright p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 0.8em;      
}

.redesSociales {
    position: absolute;
    right: 0px;         
    bottom: 0px;        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}
.redesSociales li{
    padding: 10px;
}
.redesSociales li a{
    color: white;
    font-size: 2.5em;
    transition: 0.5s;
}
.redesSociales li:hover a{
    color: rgb(237, 214, 180);
}
.circulo{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(163, 138, 108); 
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}